body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  background-color: #f1d4d4;

}


h1 {
  line-height: 0.5;
  margin-top: 0;
  color: #f5f5f5;
  font-size: 4.5rem;
  font-family: "Oswald"
}

h3 {
  font-family: "Oswald"
}


h2 {
font-family: "Oswald";
  font-size: 2.5rem;
  font-weight: normal;
}

hr {
  border: 15px solid #790c5a;
  border-bottom: none;
  width: 55%;
  margin: 150 auto 150 auto;
  margin-top: 60px;
  transform:rotate(-1.5deg);
-o-transform:rotate(-1.5deg);
-moz-transform:rotate(-1.5deg);
-webkit-transform:rotate(-1.5deg);
margin-bottom: 50px;
position: relative;

}

.alt-hr {
    transform:rotate(1.5deg);
  -o-transform:rotate(1.5deg);
  -moz-transform:rotate(1.5deg);
  -webkit-transform:rotate(1.5deg);
  margin-top: 120px;
  position: relative;
  }

.top-container {
  background:      background: -webkit-linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), -webkit- linear-gradient(30deg, #cc0e74 60%, #790c5a 60%);
  background: -o-linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #cc0e74 60%, #790c5a 60%);
  background: -moz-linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #cc0e74 60%, #790c5a 60%);
  background: linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #cc0e74     60%, #790c5a 60%);
padding-top: 5px;
padding-bottom: 30px;
text-align: center;
position: relative;
z-index: 1;
margin: auto;
}

.top-container:before {
  content: "";
  background: url("http://www.transparenttextures.com/patterns/cubes.png");
       position: absolute;
       top: 0px;
       right: 0px;
       bottom: 0px;
       left: 0px;
       opacity: 0.9;
       width: 100%;
       height: 100%;
}

.menu {
  position: relative;
  width: 2.5em;
  height: 0.8rem;
  margin-right: 0.3em;
  border-top: 0.2em solid #fff;
  border-bottom: 0.2em solid #fff;
  display: flex;
  justify-content: flex-start;
margin-left: 15px;
margin-top: 5px;
}
  .menu:before {
    content: '';
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #fff;
  }


.introduction {
    line-height: 1.5;
    text-align: center;
    width: 50%;
    margin: -120px auto 100px auto;
display: flex;
flex-flow: column;
}

  .title {
    text-align: center;
    line-height: .8;
    font-family: "Russo One";
  }

.subtitle {
  color: #f5f5f5;
  font-size: 2rem;
  font-weight: normal;
  margin-top: -20px;
}


.photo-holder {
  position: relative;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%) rotate(120deg);
  width: 900px;
  height: 400px;
  max-height: 900px;
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
margin-top: 300px;
display: flex;
justify-content: center;
}

.photo-holder-inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(-60deg);
  overflow: hidden;
  background: transparent;
}

.photo-holder-inner-in {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(-60deg);
  overflow: hidden;
  background-image: url("./../images/me-skye.JPG");
  background-size: contain;
  filter:hue-rotate(-75deg);
  border:1px solid #a37eba;
}

.hello {
padding-top: 30px;
}

.profile {
  margin: 20px auto 100px auto;
  text-align: center;
  width: 50%;
}

.middle-container {
  margin: 100px 0;

}


.bottom-container {

}

.quote-generator-container {
  background: #f1d4d4;
  padding: 120px;
  height: 100px;
  width:60%;
  margin: auto;
  margin-bottom: 80px;
  margin-top: -20px;
position: relative;
}

.author-name {

}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #cc0e74;
  border: none;
  color: #f5f5f5;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
  margin-bottom: 250px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.contact-me {
  background:      background: -webkit-linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), -webkit- linear-gradient(30deg, #cc0e74 60%, #790c5a 60%);
  background: -o-linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #cc0e74 60%, #790c5a 60%);
  background: -moz-linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #cc0e74 60%, #790c5a 60%);
  background: linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #cc0e74     60%, #790c5a 60%);
  color: #f5f5f5;
  position: relative;
  z-index: 1;
  margin-top: 300px;
  padding-top: 5px;
  padding-bottom: 60px;
}

.contact-me:before {
  content: "";
  background: url("http://www.transparenttextures.com/patterns/cubes.png");
       position: absolute;
       top: 0px;
       right: 0px;
       bottom: 0px;
       left: 0px;
       opacity: 0.9;
       width: 100%;
       height: 100%;
}
