html, body {
  margin: 0;
  text-align: center;
  font-family: "Inconsolata", sans-serif;
  font-weight: 570;
  background-color: #fffafa;
width: 100vw;
overflow-x: hidden;
}


h1 {
  line-height: 0.5;
  margin-top: 0;
  color: #f5f5f5;
  font-size: 4.5rem;
  font-family: "Oswald"
}

h3 {
  font-family: "Oswald"
}


h2 {
font-family: "Oswald";
  font-size: 2.5rem;
  font-weight: normal;
}

img {
  margin: auto;
  display: flex;
  justify-content: center;
height: 285px;
width: 400px;
}

hr {
  border: 15px solid #790c5a;
  border-bottom: none;
  width: 35%;
  margin: 150 auto 150 auto;
  margin-top: 75px;
  transform:rotate(-1.5deg);
-o-transform:rotate(-1.5deg);
-moz-transform:rotate(-1.5deg);
-webkit-transform:rotate(-1.5deg);
margin-bottom: 50px;
position: relative;

}

a {
  color: black;
}

.alt-hr {
    transform:rotate(1.5deg);
  -o-transform:rotate(1.5deg);
  -moz-transform:rotate(1.5deg);
  -webkit-transform:rotate(1.5deg);
  margin-top: 70px;
  margin-bottom: 70px;
  position: relative;
  }

#top-container {
  background:      background: -webkit-linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), -webkit- linear-gradient(30deg, #cc0e74 60%, #790c5a 60%);
  background: -o-linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #cc0e74 60%, #790c5a 60%);
  background: -moz-linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #cc0e74 60%, #790c5a 60%);
  background: linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #cc0e74     60%, #790c5a 60%);
padding-top: 5px;
padding-bottom: 30px;
text-align: center;
position: relative;
z-index: 1;
margin: auto;
width: 100vw;

}

#top-container:before {
  content: "";
  background: url("http://www.transparenttextures.com/patterns/cubes.png");
       position: absolute;
       top: 0px;
       right: 0px;
       bottom: 0px;
       left: 0px;
       opacity: 0.9;
       width: 100vw;
       height: 100%;
       z-index: -1;
}

nav {
  height: 60px;
  margin-top: -10px;
  background: #cc0e74;
  width: 100vw;
  position: fixed;
  z-index: 2;
}

.section-links {
  display: flex;
  color: #fffafa;
  font-family: "Oswald";
  font-size: 1.35rem;
  list-style: none;
  height: 15%;
  justify-content: space-around;
  align-items: center;
}

.section-links li {
    z-index: 2;
}

.section-links li a {
    color: #f1d4d4;
    cursor: pointer;
}

.introduction {
    line-height: 1.5;
    text-align: center;
    width: 50%;
    margin: -120px auto 100px auto;
display: flex;
flex-flow: column;
}

  .title {
    text-align: center;
    line-height: .8;
    font-family: "Russo One";
  }

.subtitle {
  color: #f5f5f5;
  font-size: 2rem;
  font-weight: normal;
  margin-top: -20px;
}


.photo-holder {
  position: relative;
  top: 100%;
  transform: translate(-50%, -50%) rotate(120deg);
  width: 900px;
  height: 400px;
  max-height: 900px;
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
margin-top: 350px;
display: inline-block;
  margin-left: 50%;
  margin-right: auto;
  display: flex;
}

.photo-holder-inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(-60deg);
  overflow: hidden;
  background: transparent;
}

.photo-holder-inner-in {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(-60deg);
  overflow: hidden;
  background-image: url("./../images/me-skye.JPG");
  background-size: contain;
  filter:hue-rotate(-75deg);
  border:1px solid #a37eba;
}

@media screen and (max-width: 1200px) {
  .menu {
    position: absolute;
    cursor: pointer;
    left: 5%;
    width: 2.5em;
    height: 0.8rem;
    margin-right: 0.3em;
    border-top: 0.2em solid #fffafa;
    border-bottom: 0.2em solid #fffafa;
    display: flex;
    justify-content: flex-start;
    top: 50%;
  z-index: 3;
  }

    .menu:before {
      content: '';
      position: absolute;
      top: 0.3em;
      left: 0px;
      width: 100%;
      border-top: 0.2em solid #fffafa;
    }


    nav {
      position: fixed;
      z-index: 2;
      min-height: 70px;
    }

    .section-links {
      position: fixed;
      background: #cc0e74;
      opacity: 0.8;
      height: 150px;
       width: 100px;
       flex-direction: column;
       clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
       -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
       transition: all 1s ease-out;
       z-index: 2;
       margin-top: -180px;
       display: flex;
       justify-content: space-around;
       align-items: flex-start;

    }

    .section-links li a {
      color: #fffafa;
    }

    .section-links.open {
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
      -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
      margin-top: 20px;
      padding-bottom: 20px;
      padding-top: 50px;

    }

    .section-links li {
        opacity: 0;
    }

    .section-links li a {
      font-size: 20px;
    }

    .section-links li:nth-child(1) {
      transition: all 0.5s ease 0.9s;
    }
    .section-links li:nth-child(2) {
      transition: all 0.5s ease 0.7s;
    }
    .section-links li:nth-child(3) {
      transition: all 0.5s ease 0.5s;
    }
    .section-links li:nth-child(4) {
      transition: all 0.5s ease 0.3s;
    }
li.fade {
  opacity: 1;
}
  }

.hello {
margin-top: 10px;
}


#welcome {
  width: 75%;
  margin: auto;
}

.profile {
  margin: 20px auto 50px auto;
  text-align: left;
  width: 50%;
}

#quote {
  margin: auto;
}

#middle-container {
  margin: 100px 0;

}


#quote-generator-container {
  background: #e6739f;
  padding: 120px;
  height: 180px;
  width:53.5%;
  transform: skew(-5deg);
  margin: auto;
  margin-top: 55px;
position: relative;
border-top: 10px solid #cc0e74;
border-radius: 25px;
font-size: 1rem;
}

#quote {
margin-top: 1.7%;
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #cc0e74;
  border: none;
  color: #f5f5f5;
  text-align: center;
  font-family: "Oswald";
  font-size: 1.1rem;
  padding: 8.5px;
  width: 155px;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
  margin-bottom: 250px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#addendum {
  width: 55%;
  text-align: left;
  margin: auto;
}


#quotes {
  text-align: center;
}

#contact-me {
  background:      background: -webkit-linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), -webkit- linear-gradient(30deg, #cc0e74 60%, #790c5a 60%);
  background: -o-linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #cc0e74 60%, #790c5a 60%);
  background: -moz-linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #cc0e74 60%, #790c5a 60%);
  background: linear-gradient(70deg, #e6739f 30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #cc0e74     60%, #790c5a 60%);
  color: #f5f5f5;
  position: relative;
  margin-top: 100px;
  padding-top: 5px;
  padding-bottom: 60px;

}

#contact-me:before {
  content: "";
  background: url("http://www.transparenttextures.com/patterns/cubes.png");
       position: absolute;
       top: 0px;
       right: 0px;
       bottom: 0px;
       left: 0px;
       opacity: 0.9;
       width: 100%;
       height: 100%;
}

.btn {
  cursor: pointer;
  color: #fffafa;
}

#social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
align-items: center;
}

.iconify {
  height: 70px;
  width: 70px;
  cursor: pointer;
  color: #fffafa;
}
